.switch-auth {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-form button {
  width: 80%;
  align-self: center;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: rgba(59, 59, 59, 0.66);
}
